<div class="linkedin-cards">
	{{#course}}
	<div class="linkedin-blocks">
		<div class="row-first">
			<span><img src="{{image}}" width="250" height="170"></span>
		</div>
		<div class="row-second">
			<span>COURSE</span>
			<h2><a href="{{weblaunchurl}}" target="_blank">{{title}}</a></h2>
			<div>By: {{author}}</div>
			<span class="course_time">{{timetocompelete}}</span>
		</div>
	</div>
	{{/course}}

</div>